body{
  background: #33485c;
}
.articleContainer{
  width:100%;
  position: relative;
}
.leftContainer{
  width:240px;
  position:absolute;
  top:0;
  left:0;
}
.centerContainer{
  margin-left:240px;
  background-color: #eee;
  padding-bottom: 20px;
}
.center-header{
  padding: 0 20px;
  background-color: #fff;
  height:32px;
}
.center-content{
  margin: 20px 15px;
  padding:10px;
  background-color: #fff;
  min-height:500px;
}
.nav-box{
  margin-bottom:10px;
}
.template-box{
  padding:10px;
}
.table-box{
  margin:20px 0;
}
